form{
  padding: 5% 10%;
}



h1
{
  font-family: 'Permanent Marker', cursive;
padding-top: 50px;
  text-align: center;
}

.forcont{
    background-color: black;
    margin: 10%;

}

.error {
         color: red;
       }

.buttoncent{
  padding-left: 350px;
padding-top: 40px;
    }
